nav {
  width: 100px;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .logo {
    font-family: "Poppins ExtraBold", sans-serif;
    font-size: 2.5rem;
    padding: 20px 30px;
    letter-spacing: -5px;
    text-decoration: none;
  }

  .nav-link {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;

    ul {
      padding: 0 15px;

      li {
        margin-top: 30px;
        list-style: none;

        a {
          text-decoration: none;
        }
      }
    }
  }
}