.navbar {
  color: white;
  width: 100px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  //justify-content: center;
  background-color: black;

  .logo {
    padding: 10px 0;
    text-align: center;
     
  }

  .nav-link{
    height: 100%;
    border: 1px red solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  ul{
    border: 1px red solid;
    text-align: center;
  }

  li {
    list-style: none;
    margin: 10px 0;
  }

  a {
    text-decoration: none;
    color: #fff;
  }
}








